<div class="card profile-card-action-icons">
  <div class="card-section">
    <div class="profile-card-header">
      <div class="profile-card-avatar">
        <img class="avatar-image" src="https://i.imgur.com/3AeQRbR.jpg" alt="Harry Manchanda">
      </div>
      <div class="profile-card-author">
        <h5 class="author-title"><%= @user.username %></h5>
        <p class="author-description"><%= @user.description %></p>
        <p class="author-website"><%= @user.website %></p>
        <%= link_to "Edit Profile", edit_user_registration_path, class: "button expand" %>
      </div>
    </div>
    <div class="profile-card-about">
      <h5 class="about-title separator-left">Recent Games</h5>
      <div class="featured-image-block-grid-header small-10 medium-8 large-7 columns text-center">
  </div>
  <div class="row large-up-4 small-up-2">
    <div class="featured-image-block column">
     <a href="#">
        <img src="https://cdn8.dissolve.com/p/D116_178_048/D116_178_048_0004_600.jpg" />
        <p class="text-center featured-image-block-title"><%= @event.name %></p>
      </a>
    </div>

    <div class="featured-image-block column">
     <a href="#">
        <img src="https://unsplash.it/600/440?image=693" />
        <p class="text-center featured-image-block-title"><%= @event.name %></p>
      </a>
    </div>

    <div class="featured-image-block column">
     <a href="#">
        <img src="https://unsplash.it/600/440?image=452" />
        <p class="text-center featured-image-block-title"><%= @event.name %></p>
      </a>
    </div>

    <div class="featured-image-block column">
     <a href="#">
        <img src="https://unsplash.it/600/440?image=792" />
        <p class="text-center featured-image-block-title"><%= @event.name %></p>
      </a>
    </div>
    </div>
    <div class="profile-card-action">
      <div class="action-area">
        <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Like Harry Profile">
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
          <span class="show-for-sr">Like Harry Profile</span>
        </a>
      </div>
      <div class="action-area">
        <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Comment on Harry Profile">
          <i class="fa fa-comments-o" aria-hidden="true"></i>
          <span class="show-for-sr">Comment on Harry Profile</span>
        </a>
      </div>
      <div class="action-area">
        <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Add Harry as a Friend">
          <i class="fa fa-user-plus" aria-hidden="true"></i>
          <span class="show-for-sr">Add Harry as a Friend</span>
        </a>
      </div>
      <div class="action-area">
        <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Send Harry a Gift">
          <i class="fa fa-gift" aria-hidden="true"></i>
          <span class="show-for-sr">Send Harry a Gift</span>
        </a>
      </div>
      <div class="action-area">
        <a href="#" class="action-anchor has-tip bottom" data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Block Harry!">
          <i class="fa fa-ban" aria-hidden="true"></i>
          <span class="show-for-sr">Block Harry!</span>
        </a>
      </div>
    </div>
  </div>
</div>

<%= render "layouts/footer" %>
