<div class="mobile-nav-bar title-bar">
  <div class="title-bar-left">
    <% if current_user %>
      <span><i class="fa fa-plus-square-o" aria-hidden="true"><%= link_to 'Add Event', new_event_path %></i></span>
    <% else %>
      <span class="title-bar-text"></span>
    <% end %>
  </div>
  <div class="title-bar-center">
    <% if current_user %>
      <span class="title-bar-text"><%= current_user.first_name %> <%= current_user.last_name %></span>
    <% else %>
      <span class="title-bar-text">Sportster</span>
    <% end %>
  </div>
  <div class="title-bar-right">
    <% if current_user %>
      <span class="title-bar-text"> <%= link_to 'Log out', destroy_user_session_path, method: :delete %></span>
      <span class="title-bar-text"><i class="fa fa-pencil-square"></i></a></span>
    <% else %>
      <span class="title-bar-text"> <%= link_to 'Log in', new_user_session_path %></span>
      <span class="title-bar-text"><i class="fa fa-pencil-square-o"></i></a></span>
    <% end %>
  </div>
</div>
